<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PPAI_Grupo14.Properties.Settings.PPAI_Grupo14ConnectionString" connectionString="Data Source=DESKTOP-6S2F3G1\SQLEXPRESS;Initial Catalog=BD_DSI;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="CadenaBD" value="Data Source=PC-TEO\SQLEXPRESS;Initial Catalog=BD_DSI;Integrated Security=True"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>